<div>
    <nav>
        <button>New Budget</button>
        <button>New Category</button>
        <button>Logout</button>
    </nav>
    {{!-- modal space --}}
    <main>
        {{#if budget.income}}
    <div>
        <h1>Available</h1>
        <div id="budget-income">Available</div>
    </div>
    <div>
            {{#each categories as |category| }}
                <div>
                    <h2>
                        <a href="/category/{{category.id}}">{{category.category_name}}</a>
                    </h2>
                    <div>
                        {{category.assigned}}
                    </div>
                    <div id="category-available">
                        Available
                    </div>
                </div>
            {{/each}}
        </div>
        {{else}}
            <div>
                <p>Start a budget now by clicking the 'New Budget' button!</p>
            </div>
        {{/if}}
    </main>
    <aside>
        {{!-- chart --}}
    </aside>
</div>

<script src="../public/js/maths.js"></script>