 <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="forms">
                    <form class="login-form">
                        <label for="username-login">Username:</label>
                        <input type="text" id="username-login" class="form-control mb-3" />
                        <label for="password-login">Password:</label>
                        <input type="password" id="password-login" class="form-control mb-3" />
                        <button type="submit" class="btn">Log in</button>
                    </form>
                    <p class="redirect">Or <a href="/signup">sign up</a></p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <aside>
                    <div class="description">
                        <p>
                            PennyPacker is your gateway to a more mindful budgeting journey. While it doesn't automate your finances, it empowers you to track every dollar spent and understand its impact.
                        </p>
                    </div>
                </aside>
            </div>
        </div>
    </div>

<script src="../js/login.js"></script>