<div class="forms">
    <form class="login-form">
        {{!-- form content for LOG in--}}
        <label for="username-login">Username:</label>
        <input type="text" id="username-login">
        <label for="password-login">Password:</label>
        <input type="password" id="password-login">
        <button type="submit">Log in</button>
    </form>
    <p class="redirect">Or <a href="/signup">sign up</a></p>
</div>
    <aside>
        <p class="description">
                PennyPacker is your first step to starting a reasonable budget. That way you will become a person concious of how you spend money and where it's going to with each purchase. PennyPacker does not automatically track your finances, but it <i>does</i> make you see where your money goes.
                <br>
                Joining PennyPacker doesn't make you automatically responsible, but it's a first step to becoming more concious.
        </p>
    </aside>

<script src="../js/login.js"></script>