<div class="forms">
    <form class="login-form">
        {{!-- form content for LOG in--}}
        <label for="username-login">Username:</label>
        <input type="text" id="username-login">
        <label for="password-login">Password:</label>
        <input type="password" id="password-login">
        <button type="submit">Log in</button>
    </form>
    <p class="redirect">Or <a href="/signup">sign up</a></p>
</div>
    <aside>
        <p class="description">
                Take the First Step Towards Financial Awareness with PennyPacker
                PennyPacker is your gateway to a more mindful budgeting journey. While it doesn't automate your finances, it empowers you to track every dollar spent and understand its impact.
                Joining PennyPacker isn't just about signing up—it's about taking control. It's your first stride towards financial responsibility and consciousness.
                Start today with PennyPacker and gain insights into your spending habits. See where your money goes and begin making informed financial decisions. Together, let's build a brighter financial future.
        </p>
    </aside>

<script src="../js/login.js"></script>