<header>
    <h1>PennyPacker</h1>
</header>
<main>
    <form>
        {{!-- form content for LOG in--}}
        <label for="username-login">Username:</label>
        <input type="text" id="username-login">
        <label for="password-login">Password:</label>
        <input type="text" id="password-login">
        <button type="submit">Log in</button>
    </form>
    <p>Or <a href="/signup">sign up</a></p>
    <aside>
        <p>
            {{!-- fill out later --}}
            Description content
        </p>
    </aside>
</main>

<script src="/js/login"></script>