<div class="forms">
    <form class="login-form">
        {{!-- form content for LOG in--}}
        <label for="username-login">Username:</label>
        <input type="text" id="username-login">
        <label for="password-login">Password:</label>
        <input type="password" id="password-login">
        <button type="submit">Log in</button>
    </form>
    <p>Or <a href="/signup">sign up</a></p>
</div>
    <aside>
        <p class="description">
            {{!-- fill out later --}}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </aside>

<script src="../js/login.js"></script>