:root {
    --grey: #31334c;
    --ash: #bdbdcd;
    --cream: #fffefa;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    /* border: 2px red solid; */
    width: 100%;
    padding: 30px;
    background-color: var(--grey);
    color: var(--cream);
    h1 {
        font-size: 50px;
        text-align: center;
    }
}

main {
    margin: 40px;
    display: flex;
    align-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--ash);
    padding: 20px;
}

/* These are found in the homepage */

.forms {
    border: 2px var(--grey) solid;
    border-radius: 30px;
    background-color: var(--ash);
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    padding: 20px 15px;
    label {
        font-size: 25px;
        display: block;
    }
    input {
        margin: 10px 0 10px 0;
        padding: 8px;
        font-size: 25px;
    }
    button {
        font-size: 20px;
        background-color: var(--grey);
        color: var(--cream);
    }
}

.login-form {
    margin: 20px;
    padding: 20px;
}

.signup-form {
    margin: 20px;
    padding: 20px;
    button {
        display: block;
    }
}

.redirect {
    padding-left: 40px;
    font-size: 20px;
    a {
        color: var(--grey);
    }
}

.description {
    border: var(--grey) 2px solid;
    border-radius: 30px;
    max-width: 70%;
    padding: 20px;
    margin-left: 20%;
    font-size: 25px;
    background-color: var(--ash);
    line-height: 32px;
}

/* Start of dashboard rules */
.format-all {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    button {
        font-size: 20px;
        margin: 10px;
        background-color: var(--grey);
        color: var(--cream);
    }
    a {
        cursor: default;
        border: 2px black outset;
        font-family: arial;
        text-decoration: none;
        background-color: var(--grey);
        color: var(--cream);
        font-size: 20px;
        padding: 10px;
    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px red solid;
    margin: 0 0 0 10%;
    padding: 10px;
    min-width: 400px;
}

.available {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px red solid;
    min-width: 30%;
    padding: 10px 50px;
    align-content: inherit;
    h1 {
        margin-left: 0;
        margin-right: 50px;
        padding: 0 10px;
        align-content: center;
    }
    #budget-income {
        align-content: center;
    }
}

.categories {
    padding: 20px;
    text-align: left;
    border: red solid 2px;
}

.category-single {
    display: flex;
    justify-content: space-between;
}

#myChart {
    position: relative;
    float: right;
    right: 0;
    min-width: 2%;
    max-width: 400px;
    padding-left: 20px;
}